
/* *******************************************************Navitation******************************************************* */

#navigation {
    display: flex;
    align-items: center;
    background-color: var(--nav-bg);
    position: fixed;
    z-index: 1;
    width: 100%;
    color: var(--text-white);
  }
  
  /* Navigation Logo */
  #navigation .logo {
    font-size: 1.5em;
    font-weight: 700;
    margin: auto 0px;
  }
  
  #navigation .nav-container,
  #section-1 .hero-content,
  #section-2 .about-content {
    width: var(--cont-width);
    margin: 0px auto;
  }
  
  /* Navigation Container */
  #navigation .nav-container {
    display: flex;
    justify-content: space-between;
  }
  
  /* Navigation List */
  .nav-container ul {
    display: flex;
    margin: 0.5em;
    align-items: center;
    list-style-type: none;
    font-optical-sizing: auto;
  }
  
  /* Navigation Items */
  #navigation .nav-item {
    color: var(--nav-bg);
    height: fit-content;
    padding: 0.9em 1.8em;
    border-radius: 0.4em;
    color: var(--nav-col);
    font-weight: 600;
    font-size: 1.2em;
  }
  
  /* Navigation Items Active */
  #navigation .nav-item:hover {
    outline: 1px solid var(--nav-item-bg-active);
    box-shadow: 0 0 10px var(--nav-item-bg-active), 0 0 20px var(--nav-item-bg-active);
  }
  
  #navigation .nav-item:active {
    background-color: var(--nav-item-bg-active);
    color: var(--nav-bg);
  }
  